@CHARSET "UTF-8";
/* 
 *  @Description: common css
 *  @author: haibao
 *  @Update: 2014-10-23
 */
body{font:.85em/1.4 "微软雅黑","Microsoft Yahei",'Arial','san-serif';color:#666;margin:0;padding:0}
img{max-width:100%;height:auto;width:auto9;-ms-interpolation-mode:bicubic;vertical-align:middle}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0)}
input{border:0 none;margin: 0}
a:focus,a:active,button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: 0;outline : 0;}
input[type=radio],input[type=checkbox]{margin-right:5px}
ul,p{padding:0;margin:0}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:100}
ul,li{list-style:none}
a{color:#666}
a,a:hover{text-decoration:none}
a:focus{outline:none}
/*------------------- 华丽分割线 -----------------------*/



/*------------------- 华丽分割线 -----------------------*/
.mr10{margin-right:10px;}
.fl{float:left;}
#HBox{width:300px;height:270px;margin:0 auto;box-shadow:1px 1px 5px #333;-webkit-box-shadow:1px 1px 5px #333;display:none;background-color:#ffffff;position:fixed;top:50%;left:50%;margin:-120px 0 0 -150px;z-index:100000;}
.list{padding:25px 0;}
.list li{width:80%;margin:10px auto auto;overflow: hidden;}
.list li strong{width:20%;float:left;display:inline-block;margin-right:10px;text-align: right;}
.list .fl{width:72%;}
.ipt{width:100%;text-indent:5px;border:1px solid #ccc;padding:5px 0;box-shadow:0 0 3px #ddd inset;-webkit-box-shadow:0 0 3px #ddd inset;}
.ipt:focus{border-color:#66afe9;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6);}
.submitBtn{width:100%;height:32px;line-height:30px;cursor:pointer;margin-top:10px;display:inline-block;text-align:center;background-color:#428bca;color:#fff;padding:0;}
.submitBtn:hover,.submitBtn:disabled{opacity: .8;-webkit-opacity: .8;}
