@charset "utf-8";
/* CSS Document Download by http://www.codefans.net*/
*{
	margin:0;
	padding:0;
}

body{
	background:url(../img/images/WoodTexture1.png);
}

ul{
	list-style:none;
}

.clear{
	clear:both;
}


.month-container{
	background:#fffbdf;
	width:255px;
	height:auto;
	margin:16.5px auto 0;
	box-shadow:2px 2px 8px 1px rgba(0,0,0,0.6);
}

.month-head{
	background:#fffbdf;
	width:255px;
	height:25.25px;
    font:16.5px "microsoft yahei";
	text-shadow:2px 2px 3px #FFF;
	text-align:center;
}

.month-head span {
    color: #ffb186;
    border-color: #fffbdf;
	line-height:25.25px;
}


.month-cell {
    float: left;
	width:35.35px;
	height:35.35px;
	background:#F5F5F5;
	border:1px solid #FEFEFE;
}

.month-cell:active{
	box-shadow:inset 2px 2px 5px rgba(0,0,0,0.6);
}

.month-cell span {
    display: block;
    color: #cccccc;
    font:16.5px "microsoft yahei";
    text-align: center;
	line-height:35.35px;
    cursor:pointer;
}

.month-cell.active span {
    border-color: #cccccc;
}

.month-cell.pink {
    background: #fffbdf;
}

.month-cell.pink span {
    color: #ffb186;
    border-color: #fffbdf;
}

.month-cell.pink.active span {
    border-color: #ffe295;
}

.month-cell.orange {
    background: #fff5b4;
}

.month-cell.orange span {
    color: #ffaf6e;
    border-color: #fff5b4;
}

.month-cell.orange.active span {
    border-color: #ffcf71;
}

.month-cell.red {
    background: #ff6840;
}

.month-cell.red span {
    color: #ffffff;
    border-color: #ff6840;
}


.month-cell.blue {
    background: #5bb5ec;
}

.month-cell.blue span {
    color: #ffffff;
    border-color: #5bb5ec;
}


.flipContainer{
	width:151.5px;
	height:50.5px;
	background:#FFF;
	padding:10px;
}

.flip{
	background:url(../images/filmstrip.png);
	float:left;
	width:26.7px;
	height:52px;
}
